.navbarContainer {
  display: flex;
  align-items: start;
  padding: 1rem;
  flex-direction: column;
}

.navItem img {
  margin-bottom: auto;
  width: 100px;
  height: 30px;
}

.navImg {
position: relative;
  width: 75px;
 height: 48px;
 top: 580px;
 border-radius: 50%;
 left: 32px;
 
}
  


@media (max-width: 1024px) {
  .navbarContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }
  .navImg {
    display: none;
  }
}