.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
  }
  body {
    background-color: rgb(34, 32, 32);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .contentContainer {
    display: flex;
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .contentContainer {
      flex-direction: column;
    }
  }
  